<div class="modal-body">
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
 
    <div class="form-box">
        <div class="form-tab nav-fill">
            <ul   class="justify-content-center nav nav-pills">
                <li >
                    <a >Facture</a>
                        <form action="#">
                          <!-- <div> c'est une facture pour votre commande</div> -->
                        </form>
                
                </li>
            </ul>
            <div ></div>
        </div>
    </div>
</div>