<div class="modal-body">
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>

    <div class="form-box">
        <div class="form-tab nav-fill">
            <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
                <li ngbNavItem>
                    <a ngbNavLink>Add Product</a>
                    <ng-template ngbNavContent>
                        <form action="#" >
                            <div class="form-group">
                                <label for="singin-email">Name</label>
                                <input type="text" class="form-control" id="name" ngModel [ngModelOptions]="{standalone: true}" [(ngModel)]="addProduct.name"  name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="singin-password">PRICE</label>
                                <input type="number" class="form-control" id="price" [(ngModel)]="addProduct.price" name="price"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="singin-password">Qty</label>
                                <input type="number" class="form-control" id="qty" [(ngModel)]="addProduct.qty" name="qty"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="singin-password">DESC</label>
                                <input type="text" class="form-control" id="desc" [(ngModel)]="addProduct.description" name="desc"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                         
                         <div class="file-upload">
                         
                            {{fileName || "No file uploaded yet."}}
                         
                             <button mat-mini-fab color="primary" class="upload-btn"
                               (click)="fileUpload.click()">
                               <i class="icon-arrow-up"></i>                             </button>
                         </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" (click)="login()" class="btn btn-outline-primary-2">
                                    <span *ngIf="!update">Add</span>
                                    <span *ngIf="update">UPDATE</span>

                                    <i class="icon-long-arrow-right"></i>
                                </button>

                             
                            </div>
                        </form>
                <!--         <div class="form-choice">
                            <p class="text-center">or sign in with</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="javascript:;" class="btn btn-login btn-g">
                                        <i class="icon-google"></i>
                                        Login With Google
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="javascript:;" class="btn btn-login btn-f">
                                        <i class="icon-facebook-f"></i>
                                        Login With Facebook
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </ng-template>
                </li>
                
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>