<div class="modal-body">
    <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>

    <div class="form-box">
        <div class="form-tab nav-fill">
            <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
                <li ngbNavItem>
                    <a ngbNavLink>Add Product</a>
                    <ng-template ngbNavContent>
                        <form  (ngSubmit)="login()" >
                            <div class="form-group">
                                <label for="singin-email">Name</label>
                                <input type="text" class="form-control" id="name" ngModel [ngModelOptions]="{standalone: true}" [(ngModel)]="addProduct.name"  name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="singin-password">PRICE</label>
                                <input type="number" class="form-control" id="price" [(ngModel)]="addProduct.price" name="price"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="singin-password">Qty</label>
                                <input type="number" class="form-control" id="qty" [(ngModel)]="addProduct.qty" name="qty"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="singin-password">DESC</label>
                                <input type="text" class="form-control" id="desc" [(ngModel)]="addProduct.description" name="desc"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                         
                         <div class="file-upload">
                         <div class="row">
                           uploaded 
                         
                            <button mat-mini-fab color="primary" class="upload-btn"
                              (click)="fileUpload.click()">
                              <i class="icon-arrow-up"></i>                          
                              </button>
                              <img [src]="addProduct.picture" alt="Molla Logo" width="104" height="27">
                         </div>
                       
                               
                         </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="size">Size:</label>
                                <div class="select-custom">
                                    <select name="size" id="categorie" class="form-control" [value]="addProduct.categorie" (change)="selectCategory($event)">
                                        <option value="" >Select a size</option>
                                        <option value="Visage" >Visage</option>
                                        <option value="Cheveux" >Cheveux</option>
                                        <option value="Corps" >Corps</option>
                                        <option value="Bébé et Maman" >Bébé et Maman</option>
                                        <option value="Compléments alimentaire" >Compléments alimentaire</option>
                                        <option value="Hygiene" >Hygiene</option>
                                        <option value="Solaire" >Solaire</option>
                                        <option value="Bio et naturel" >Bio et naturel</option>
                                        <option value="Matériel Medical">Matériel Medical</option>
                                        <option value="" >Homme</option>
                                    </select>
                                </div>                            
                            </div>
                            <div class="form-group">
                                <label for="size">Sous catégorie</label>
                                <div class="select-custom">
                                    <select name="sc" id="sc" class="form-control" [(ngModel)]="addProduct.SC"  (change)="selectSC($event)">
                                        <option value="" >Select a size</option>
                                        <option *ngFor="let item of SousCategories" [value]="item">{{item}}</option>
                                    </select>
                                </div>                            
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="addProduct.checked" id="signin-remember">
                                <label class="custom-control-label" for="signin-remember">Bon Plan</label>
                            </div>
                            <div class="form-footer">
                                <button  type="submit" class="btn btn-outline-primary-2">
                                    <span *ngIf="!update" (click)="login()">Add</span>
                                    <span *ngIf="update" (click)="login()">UPDATE</span>

                                    <i class="icon-long-arrow-right"></i>
                                </button>
                              
                             
                            </div>
                        </form>
                <!--         <div class="form-choice">
                            <p class="text-center">or sign in with</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="javascript:;" class="btn btn-login btn-g">
                                        <i class="icon-google"></i>
                                        Login With Google
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="javascript:;" class="btn btn-login btn-f">
                                        <i class="icon-facebook-f"></i>
                                        Login With Facebook
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </ng-template>
                </li>
                
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>